* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/* Header Section */
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/chong5.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Add padding to the container so content starts below the fixed header */
.container {
    padding: 10px 10%;
    position: relative; /* Keep everything positioned properly */
    z-index: 2; /* Ensure it appears above the background */
}

#typed-role {
    color: red;
    font-weight: bold;  /* Optional: Makes the text bold */
}


html {
    scroll-behavior: auto;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease-out forwards;
}

.logo {
    width: 200px;
    height: 75px;
}

/* Navigation Links */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.7s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.9s;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

/* Underline Animation */
nav ul li a::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    transform: translateX(8%);
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 40px;
}

/* Header Text Animation */
.header-text {
    margin-top: 20%;
    font-size: 30px;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}


/* Mobile Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
}

/* Mobile Navigation */
@media (max-width: 768px) {
    #header {
        background-image: url(images/Chong3.png);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
    }

    nav ul li {
        display: block;
        margin: 15px 0;
        opacity: 0;
        transform: translateY(-10px);
        animation: fadeInUp 0.8s ease-out forwards;
    }

    .menu-toggle {
        display: block;
    }

    /* When Active */
    nav.active ul {
        transform: translateY(0);
    }
}

/* Animation Keyframes */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------------about---------------------- */
#about {
    padding: 80px 0;
    color: #ababab;
    background: black;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.5s ease-out forwards;
    animation-delay: 1s;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 1.8s ease-out forwards;
    animation-delay: 1.3s;
}

.about-col-2 {
    flex-basis: 60%;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.5s ease-out forwards;
    animation-delay: 1.2s;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.5s ease-out forwards;
    animation-delay: 1.4s;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}



.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.6s ease-out forwards;
    animation-delay: 1.6s;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.5s ease-out forwards;
}

.tab-links:nth-child(1) {
    animation-delay: 1.8s;
}

.tab-links:nth-child(2) {
    animation-delay: 2s;
}

.tab-links:nth-child(3) {
    animation-delay: 2.2s;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

/* Tab Content Fade-in Effect */
.tab-contents {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tab-contents.active-tab {
    display: block;
    animation: tabFadeIn 0.6s ease forwards;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes tabFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    /* Stack columns vertically */
    .row {
        flex-direction: column;
        align-items: center;
    }

    .about-col-1 img {
        display: block;
        margin: 0 auto;
        width: 80%; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
    }

    /* Ensure the about-title appears under the image */
    .about-col-1 {
        flex-basis: 100%;
        margin-bottom: 20px; /* Add some space below the image */
    }

    .about-col-2 {
        padding: 20px; /* Add some padding for spacing */
        max-width: 100%; /* Prevent it from extending past the screen */
        margin: 0 auto; /* Center the content horizontally */
    }

    /* Adjust the subtitle size and positioning */
    .sub-title {
        font-size: 36px; /* Adjust the font size to be smaller on phones */
        margin-top: 20px; /* Add space above the subtitle */
        text-align: center;
    }

    .about-col-2 p {
        font-size: 16px; /* Adjust paragraph font size */
        line-height: 1.6;
        max-width: 90%; /* Prevent text from going edge-to-edge */
        margin: 0 auto; /* Center the paragraph text */
    }

    #tab-contents {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-col-2 h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; /* Centers the h1 horizontally */
    }
}

/* ---------------portfolio---------------------- */
#portfolio {
    padding: 50px 0;
    background: #000;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards;
    animation-play-state: paused;
}

#portfolio h1 {
    font-size: 70px;
}

.sub-title {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding-bottom: 10px;
}

.portfolio-col-2 h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
}

.portfolio-col-2 h2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #ff004f;
}

.portfolio-col-2 p {
    color: #ddd;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.portfolio-col-2 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

.portfolio-col-2 ul li {
    background: #222;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.portfolio-col-2 ul li:hover {
    background: #ff004f;
    transform: scale(1.05);
}

.portfolio-col-2 .tech-stack {
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.portfolio-col-2 .tech-stack span {
    background-color: #333;
    padding: 8px 12px;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.portfolio-col-2 .tech-stack span:hover {
    background-color: #ff004f;
    transform: scale(1.05);
}

.portfolio-col-2 .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff004f;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portfolio-col-2 .btn:hover {
    background-color: #ff3377;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.7s;
    animation-play-state: paused;
    transform: translateY(40px);
}

.carousel img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
    transition: opacity 0.5s ease-in-out;
}

.carousel button {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.prevBtn {
    left: 10px;
}

.nextBtn {
    right: 10px;
}

.carousel button:hover {
    background: rgba(255, 255, 255, 0.8);
}

.portfolio-col-1,
.portfolio-col-2 {
    flex: 1;
    padding: 20px;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.portfolio-col-1 {
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
    transform: translateX(-40px);
}

.portfolio-col-2 {
    animation-name: fadeInRight;
    animation-delay: 0.5s;
    transform: translateX(40px);
}

.projectImage, .projectVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.7s;
    animation-play-state: paused;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ensures consistent aspect ratio */
}

/* Positioning the dots inside the image */
.dots-container {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the dots horizontally */
    display: flex;
    gap: 10px; /* Space between dots */
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent dots */
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.dot.active {
    background-color: #ff004f; /* Active dot color */
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Hover effect */
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .carousel button {
        padding: 8px 12px;
        font-size: 18px;
    }

    .portfolio-col-2 h2 {
        font-size: 24px;
    }

    .portfolio-col-2 ul li,
    .portfolio-col-2 .tech-stack span {
        font-size: 13px;
    }

    .portfolio-col-2 .btn {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* Animation Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    #portfolio h1 {
        font-size: 40px;
        text-align: center; /* Centers the h1 element */
        margin: 0 auto; /* Ensures the element is centered if it's a block element */
    }
    
}

/*-----------------------------contact---------------------*/

#contact {
    background: #000;
    color: white;
    padding: 100px 20px; /* Added horizontal padding for small screens */
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-left {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-left h1 {
    margin-bottom: 30px;
    font-size: 84px;
}

.contact-left p {
    font-size: 20px;
    margin: 10px 0;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.contact-right {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    margin-top: 40px;
    width: 100%;
}

.btn {
    background: #d10a2a;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin-top: 40px;
    align-self: flex-end;
}

.btn:hover {
    background: #b00823;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 15px;
    background: #222;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contact-right textarea {
    height: 150px;
}

/* Mobile fixes */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .contact-left h1 {
        font-size: 40px;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .contact-right {
        align-items: center;
    }

    .contact-right input,
    .contact-right textarea {
        max-width: 100%;
    }

    .btn {
        align-self: center;
    }

    .social-icons {
        justify-content: center;
    }
}